body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F5F5F5;
  background-color: #3f3a8c;
}

.center {
  background-color: #3f3a8c;
  max-width: 850px;
  margin: auto;
}

.imgs img {
  border-radius: 10px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}
